@model IEnumerable<InvMng_InfTech.Models.Location.LocationMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card mt-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0 flex-grow-1 text-center">locations</h5>
        <a asp-action="Create" class="btn btn-dark"><i class="fa-solid fa-map-location-dot fa-beat" style="color: #ffffff;"></i></a>
    </div>
    <div class="card-body">
        <div class="table-container">
            <table id="myTable" class="table table-bordered max-width-table" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                            <td>
                                <button asp-action="Edit" asp-route-id="@item.LocationID" class="btn btn-primary btn-sm">
                                    <i class="fa fa-edit btn-sm"></i>
                                </button>
                                <button asp-action="Details" asp-route-id="@item.LocationID" class="btn btn-success btn-sm">
                                    <i class="fa fa-eye btn-sm"></i>
                                </button>
                                <button asp-action="Delete" asp-route-id="@item.LocationID" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash btn-sm"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
