@model IEnumerable<InvMng_InfTech.Models.Location.LocationMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card mt-5">
    
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-outline-primary">
                <i class="fa-solid fa-map-location-dot mr-md-4"></i>Add Location
            </a>
        </div>

        <div class="table-container">
            <table id="myTable" class="table table-bordered max-width-table" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.LocationID" class="btn btn-primary btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.LocationID" class="btn btn-success btn-sm">
                                    <i class="fa fa-eye btn-sm"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.LocationID" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash btn-sm"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
