@model InvMng_InfTech.Models.Masters.InventoryMaster

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ModalViewPartial.cshtml";
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubLocation)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>

@section scripts {
    <script src="~/js/InventoryMaster/scripts.js" asp-append-version="true"></script>
}
