@model IEnumerable<InvMng_InfTech.Models.Masters.InventoryMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-0">Inventory</h2>
<hr />




<div class="row mt-5">
    <div class="col-md-2">
        <div class="card mb-3">
            <div class="card-header">
                Options
            </div>
            <div class="card-body">
                <div class="mb-1">
                    <a asp-action="Create" class="btn btn-dark btn-sm btn-block">
                        <i class="fa-solid fa-cart-flatbed"></i> Stock In
                    </a>
                </div>
                <div class="mt-1">
                    <a asp-action="Create" class="btn btn-info btn-sm text-white btn-block">
                        <i class="fa-solid fa-truck-ramp-box"></i> Stock Out
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Data Handling
            </div>
            <div class="card-body">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-file-export"></i> Export
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Excel Format(CSV)</a>
                        <a class="dropdown-item" href="#">Text File</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="card">
            <div class="card-body">
                <div class="table-container">
                    <table id="myTable" class="table table-bordered max-width-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PartNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PartName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StockNew)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StockUsed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Modified)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Location)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubLocation)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockNew)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockUsed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modified)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubLocation)
                                    </td>
                                    <td>
                                        <button asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm">
                                            <i class="fa fa-edit btn-sm"></i>
                                        </button>
                                        <button asp-action="Details" asp-route-id="@item.ID" class="btn btn-success btn-sm">
                                            <i class="fa fa-eye btn-sm"></i>
                                        </button>
                                        <button asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash btn-sm"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



