@model IEnumerable<InvMng_InfTech.Models.Masters.SupplyMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-5">
    <div class="card-body">

        <div class="d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>New Supplier</a>
        </div>


        <div class="table-container">
            <table id="myTable" class="table table-bordered datatable max-width-table" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representative)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Industry)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Modified)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Representative)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Industry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Modified)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success btn-sm">
                                    <i class="fa fa-eye btn-sm"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash btn-sm"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div
</div>


















